# Consolidated .gitignore file for the entire project

### Build and Compilation ###
.gradle
build/
target/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
out/
!**/src/main/**/out/
!**/src/test/**/out/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Logs ###
/logs/
*.log

### IDE - IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### IDE - VS Code ###
.vscode/

### IDE - Eclipse/STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IDE - NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Documentation ###
HELP.md

### OS specific ###
.DS_Store
Thumbs.db
